body {
  background-color: #4D97F8;
  height: 100%;
  text-align: center;
}

.result-box-container {
  padding-top: 20px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  height: 750px;
  width: 600px;
  margin-top: 2rem;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.grid-container {
  margin-left: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
grid-template-areas:
  "a b";
}

.input-container-item {
  border-radius: 15px;
  width: 570px;
  height: 511px;
  padding: 20px;
  padding-top: 3rem;
}

.container-item {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  width: 540px;
  height: 310px;
  padding: 5px;
}

.scroll-item {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 530px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

.container-item2 {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  width: 540px;
  height: 250px;
  padding: 5px;
}

.scroll-item2 {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 530px;
  height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

.back-btn {
  margin-top: 3rem;
margin-bottom: 1rem;
background-color: #084587;
border-width: 2px;
border-radius: 5rem;
}

.back-btn:hover {
background-color: #aed1ff;
color: #084587;
border-width: 2px;
border-color: #084587;
}

.form-select {
  margin-bottom: 8px;
}

.blue-hedding {
  color: #084587;
}

.add-btn {
	margin-top: 3rem;
	margin-bottom: 1rem;
	background-color: #084587;
	border-width: 2px;
	border-radius: 5rem;
}

.add-btn:hover {
	background-color: white;
	color: #084587;
	border-width: 2px;
	border-color: #084587;
}

.clear-btn {
	margin-left: 7rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
	border-radius: 5rem;
	border-color: #084587;
	color: #084587;
	border-width: 2px;
  background-color: #ffff;
}

.clear-btn:hover {
	background-color: #084587;
	color: white;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4D97F8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2564b6;
}
